version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
    groups:
      update:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      update:
        patterns:
          - "*"
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: monthly
    groups:
      update:
        patterns:
          - "*"
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: monthly
    groups:
      update:
        patterns:
          - "*"
  - package-ecosystem: rust-toolchain
    directory: /
    schedule:
      interval: monthly
    groups:
      update:
        patterns:
          - "*"
