# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
- repo: https://github.com/python-poetry/poetry
  rev: 2.3.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pre-commit
  rev: v4.5.1
  hooks:
  - id: validate_manifest
- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.12.1
  hooks:
  - id: commitizen
- repo: local
  hooks:
  - id: test
    name: test
    entry: pytest -v -s
    stages:
    - "pre-push"
    language: system
    pass_filenames: false
    always_run: true
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    additional_dependencies: [numpy]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
  - id: ruff-check
    args: [ --fix ]
  - id: ruff-format
