name: pre-commit autoupdate

on:
  schedule:
    - cron: '0 18 1 * *'
  workflow_dispatch:

jobs:
  create-autoupdate-pr:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: uv sync --group dev
      - name: Auto-update pre-commit & git diff
        id: git
        continue-on-error: true
        run: |
          date_str=$(date '+%Y%m%d')
          branch_name="precommit-autoupdate-github-actions-${date_str}"
          pr_title="${date_str} pre-commit autoupdate"
          echo "branch_name=${branch_name}" >> $GITHUB_OUTPUT
          echo "pr_title=${pr_title}" >> $GITHUB_OUTPUT
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b ${branch_name}
          uv run pre-commit autoupdate
          git add -N .
          git diff --name-only --exit-code
      - name: Create PR
        if: steps.git.outcome == 'failure'
        run: |
          git commit -am "pre-commit autoupdate"
          git push origin ${{ steps.git.outputs.branch_name }}
          gh pr create -B main -H ${{ steps.git.outputs.branch_name }} -t "${{ steps.git.outputs.pr_title }}" -b "pre-commit autoupdate"
